{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">

    <title>Конвертер</title>
</head>
<body>
<div class="container">
    <h2>Конвертер римских чисел:</h2><br>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="roman_num" class="form-control" placeholder="Введите римское число здесь" value="{{ roman_num }}"><br>
        <input type="text" class="form-control" placeholder="Результат будет здесь" value="{{ num }}"><br>
        <button type="submit" class="btn btn-info">Конвертировать</button>
    </form>
    <br>
</div>
</body>
</html>